

/* INDEX */

body{
    width: 100%;
}

.pai{
    width:100%;
  
    border: 2px solid black;
    background-color: coral;
}



.chamar-mercados{
    
    color: white;
    background-color: blue;
    
}

.oqueprocuras{
    margin: auto;
    background-color: orange;
    margin-bottom: 10px;
    border: 2px solid red;
}


.chamar-mercados .br-3{
    
    
    background-color: blue;
    
}

.br-3{
    
    background-color: blue;
}