





// botão faça aqui geral

  .fbtn {

    display: inline-block;
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    color: $body-color;
    background-color: $blue;
    color:white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    box-sizing: border-box;
    transition:  all 400ms ease; 
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    font-family: signikaregular;
    text-decoration: none !important;
   
    &:hover {

      background-color:$blueh;
      box-shadow: 0 2px 2px rgba(0,0,0,.4);

    }

    &:focus {

      outline: none;

    }
    
  }
  

// botao para imagens

  .fbtni {

    display: inline-block;
    color: $body-color;
    background-color: $blue;
    color: rgba(255, 255, 255, .6);
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 7px;
    transition:  all 400ms ease; 


    &:hover {
      
      color:$white;

    }


    &:focus {

      outline: none;
      
    }
    
  }


  // botão roudondo

  .fbtnr {

    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition:  all 400ms ease; 


    &:hover {

      border: 1px solid $white;
      background-color:$blueh;
      color:$white;

    }

}



// botao close

.fbtnc {

  color: $white;;
  background-color: none;
  color: rgba(255, 255, 255, .6) !important;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition:  all 400ms ease; 


  &:hover {
    
    color:$white;

  }


  &:focus {

    outline: none;
    
  }
  
}




// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
