



// evitando a decoração de sublinhado no botão Cadastrar

  a {

    text-decoration: none !important;

  }


  // botão voltar para INDEX

    .icnback {

      float: left;
      position: relative;
      left: 10px;
      top: 5px;;
      font-size: 1.5em;
      background-color: $white;
      border-radius: 70%;

      &:hover {

        color: $blueh;

      }

    }

 


 /* ================= CADASTRO =================*/ 



//  boxpai controlando tudo

  .bcdstpai {

    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 7px rgba(0,0,0,.2);
    border: solid 1px rgba(0,0,0,.1);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2vw;
    margin-bottom: 2vw;

  }



//  boxfilho controlando tudo

  .bcdstfilho {

    background-color: rgb(255, 255, 255);
    padding: 30px;

  }



//  titulo cadastro

  .tcdst {

    padding: 20px;
    width: 100% !important;
    font-family: signikabold;
    font-size: 1.0rem;
    margin-top: 10px;
    margin-bottom: 50px;

      h2{
        color: $blue;
        text-transform: uppercase;
      }
      
  }

  


//////////////////// BOTÕES MEDIAS ////////////////////



// controlando o botão Cadastrar

  .btnande {

    display: flex !important;
    justify-content: flex-end !important;

  }


  




 /* =================  MEDIAS BOX CENTRAL DE TUDO, ALINHAMENTO VERTICAL =================*/ 


 /* Small devices (landscape phones, 360px and up) */
 
 @media only screen and (max-width: 360px) { 

    
  // box que controla tudo do cadastro

  .bcdstpai {

  margin-top: 1vh;
  margin-bottom: 1vh;
  
} 

}



/* Small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) { 


// box que controla tudo do cadastro

  .bcdstpai {

  margin-top: 1vh;
  margin-bottom: 1vh;

} 

}


/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {


    // box que controla tudo do cadastro

    .bcdstpai {

    margin-top: 1vh;
    margin-bottom: 1vh;


  } 

}



/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) { 


// box que controla tudo do cadastro

.bcdstpai {

  margin-top: 14vh;
  margin-bottom: 4vh;

} 

}

/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {    


// box que controla tudo do cadastro

  .bcdstpai {

    margin-top: 14vh;
    margin-bottom: 4vh;
  
  } 

}

/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {   


// box que controla tudo do cadastro

.bcdstpai {

margin-top: 14vh;
margin-bottom: 4vh;

} 

}




  
